.Header {
  width: 100%;
  height: 80px;
  background: rosybrown;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Header svg {
  font-size: 44px;
  color: #ffffff;
  cursor: pointer;
  transition: 1s;
}

.Header svg:hover {
  font-size: 44px;
  color: darksalmon;
  cursor: pointer;
}
